@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: "Quicksand";
    font-weight: 300;
    font-size: 20px;
    color: #52350A;
    text-decoration: none;
    justify-content: center;
}

.logo{
    margin-right: auto;
    transition: all 0.5s ease 0s;
}

.logo:hover{
  color: #E9D0AE;
  letter-spacing: 1.5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.nav__links{
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #E9D0AE;
    letter-spacing: 1.5px;
}

.backeventtop img{
    display: flex;
    width: 1263px;
    height: 635px;
}

.moretocome pre{
    display: flex;
    flex-direction: column;
    width: 45%;
    font-size: 50px;
    font-weight: 600;
    margin-top: -280px;
    margin-left: -75px;
    color:#E9D0AE;
}

.hometop pre{
    display: flex;
    margin-top: -180px;
    margin-left: -1020px;
    color: #FFFFFF;
    font-size: 18px;
}

.backgroundevent1 img{
    display: flex;
    margin-top: 285px;
    opacity: 100%;
    width: 1263px;
}

.backgroundevent2 img{
    display: flex;
    margin-top: 0px;
    opacity: 100%;
    width: 1263px;
    height: 1000px;
}


.aespa img{
    display: flex;
    position: absolute;
    width: 500px;
    height: 250px;
    margin-top: -1740px;
    margin-left: 75px;
    border-radius: 10px;
    border: 5px solid #E9D0AE;
}

.logodateev img{
    display: flex;
    margin-top: -1450px;
    margin-left: 75px;
    width: 50px;
    height: 50px;
    opacity: 70%;
}

.datetext1 pre{
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-left: 80px;
    margin-top: -40px;
    background: #d1d1d100;
    color: #FFFFFF;
}

.logotimeev img{
    display: flex;
    margin-top: 25px;
    margin-left: 75px;
    width: 47px;
    height: 50px;
    opacity: 70%;
}

.timetext1 pre{
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-left: 80px;
    margin-top: -35px;
    background: #d1d1d100;
    color: #FFFFFF;
}

.aespatitle h1{
    display: flex;
    position: absolute;
    font-size: 40px;
    font-weight: 2200;
    color: #C2AF6A;
    margin-top: -425px;
    margin-left: 660px;
    background: #d1d1d100;
}

.aespadesc p{
    display: flex;
    flex-direction: column;
    width: 37%;
    position: absolute;
    font-size: 19px;
    font-weight: 200;
    color: #FFFFFF;
    margin-top: -345px;
    margin-left: 660px;
    background: #d1d1d100;
    text-align: justify;
}

.moreinfobutton{
    display: flex;
    position: absolute;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    margin-top: -100px;
    margin-left: 660px;
    background-color: #7d776d;
    color: #e0b75e;
    transition: .2s ease-out;
}
  
.moreinfobutton:hover{
    transform: scale(1.1);
    color: #7d776d;
    background-color: #C2AF6A;
}

.artvent img{
    display: flex;
    position: absolute;
    width: 500px;
    height: 250px;
    margin-top: 135px;
    margin-left: 75px;
    border-radius: 10px;
    border: 5px solid #E9D0AE;
}

.logodateevart img{
    display: flex;
    margin-top: 420px;
    margin-left: 75px;
    width: 50px;
    height: 50px;
    opacity: 70%;
}

.datetextart pre{
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-left: 80px;
    margin-top: -40px;
    background: #d1d1d100;
    color: #FFFFFF;
}

.logotimeevart img{
    display: flex;
    margin-top: 25px;
    margin-left: 75px;
    width: 47px;
    height: 50px;
    opacity: 70%;
}

.timetextart pre{
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-left: 80px;
    margin-top: -35px;
    background: #d1d1d100;
    color: #FFFFFF;
}

.arttitle h1{
    display: flex;
    position: absolute;
    font-size: 40px;
    font-weight: 2200;
    color: #C2AF6A;
    margin-top: -420px;
    margin-left: 660px;
    background: #d1d1d100;
}

.artdesc p{
    display: flex;
    flex-direction: column;
    width: 37%;
    position: absolute;
    font-size: 19px;
    font-weight: 200;
    color: #FFFFFF;
    margin-top: -345px;
    margin-left: 660px;
    background: #d1d1d100;
    text-align: justify;
}

.artmoreinfobutton{
    display: flex;
    position: absolute;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    margin-top: -125px;
    margin-left: 660px;
    background-color: #7d776d;
    color: #e0b75e;
    transition: .2s ease-out;
}
  
.artmoreinfobutton:hover{
    transform: scale(1.1);
    color: #7d776d;
    background-color: #C2AF6A;
}

.ifrabusiness img{
    display: flex;
    position: absolute;
    width: 500px;
    height: 250px;
    margin-top: 135px;
    margin-left: 75px;
    border-radius: 10px;
    border: 5px solid #E9D0AE;
}

.logodateifrabusiness img{
    display: flex;
    margin-top: 420px;
    margin-left: 75px;
    width: 50px;
    height: 50px;
    opacity: 70%;
}

.datetextifrabusiness pre{
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-left: 80px;
    margin-top: -40px;
    background: #d1d1d100;
    color: #FFFFFF;
}

.logotimeifrabusiness img{
    display: flex;
    margin-top: 25px;
    margin-left: 75px;
    width: 47px;
    height: 50px;
    opacity: 70%;
}

.timetextifrabusiness pre{
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-left: 80px;
    margin-top: -35px;
    background: #d1d1d100;
    color: #FFFFFF;
}

.ifrabusinesstitle h1{
    display: flex;
    position: absolute;
    font-size: 40px;
    font-weight: 2200;
    color: #C2AF6A;
    margin-top: -420px;
    margin-left: 660px;
    background: #d1d1d100;
}

.ifrabusinessdesc p{
    display: flex;
    flex-direction: column;
    width: 37%;
    position: absolute;
    font-size: 19px;
    font-weight: 200;
    color: #FFFFFF;
    margin-top: -345px;
    margin-left: 660px;
    background: #d1d1d100;
    text-align: justify;
}

.ifrabusinessmoreinfobutton{
    display: flex;
    position: absolute;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    margin-top: -80px;
    margin-left: 660px;
    background-color: #7d776d;
    color: #e0b75e;
    transition: .2s ease-out;
}
  
.ifrabusinessmoreinfobutton:hover{
    transform: scale(1.1);
    color: #7d776d;
    background-color: #C2AF6A;
}

.boxfoot img{
    display: flex;
    position: absolute;
    margin-top: 80px;
    margin-left: 0px;
    width: 100%;
  }
  
  .stayupdated pre{
    position: absolute;
    margin-left: 75px;
    margin-top: 120px;
    background: #d1d1d100;
  }
  
  .perusahaan pre{
    position: absolute;
    margin-left: 75px;
    margin-top: 170px;
    background: #d1d1d100;
  }
  
  
  .subscribe img{
    display: flex;
    position: absolute;
    width: 240px;
    height: 50px;
    margin-top: 100px;
    margin-left: 255px;
    border-radius: 10px;
  }
  
  .subsbutton{
    display: flex;
    position: absolute;
    border: none;
    border-radius: 10px;
    background-color: #58554C;
    color: rgb(210, 190, 119);
    padding: 10px 10px;
    margin-top: 100px;
    margin-left: 440px;
    transition: .2s ease-out;
  }
  
  form{
    display: flex;
    margin-top: 5px;
    margin-left: 370px;
  }
  
  input[type=text]{
    width: 10%;
    font-size: 12px;
    position: absolute;
    border-color: #D1AB71;
    border-radius: 5px;
    margin-left: -880px;
    margin-top: 112px;
    background-color: #FFFFFF;
    transition: transform .2s;
  }
  
  input[type=text]:hover{
    transform: scale(1.1);
  }
  
  
  .footersubt pre{
    position: absolute;
    margin-top: 100px;
    margin-left: 625px;
    font-size: 20;
    font-weight: bolder;
    color: #A78A6F;
    background: #d1d1d100;
  }
  
  .footsubabout pre{
    position: absolute;
    margin-top: 135px;
    margin-left: 637px;
    font-size: 15px;
    font-weight: lighter;
    columns: #6D6054;
    background: #d1d1d100;
  }
  
  .footsubcont pre{
    position: absolute;
    margin-top: 170px;
    margin-left: 637px;
    font-size: 15px;
    font-weight: lighter;
    columns: #6D6054;
    background: #d1d1d100;
  }
  
  .footsubeve pre{
    position: absolute;
    margin-top: 205px;
    margin-left: 637px;
    font-size: 15px;
    font-weight: lighter;
    columns: #6D6054;
    background: #d1d1d100;
  }
  
  .footersubt2 pre{
    position: absolute;
    margin-top: 100px;
    margin-left: 821px;
    font-size: 20;
    font-weight: bolder;
    color: #A78A6F;
    background: #d1d1d100;
  }
  
  .footsubnum pre{
    position: absolute;
    margin-top: 135px;
    margin-left: 833px;
    font-size: 15px;
    font-weight: lighter;
    columns: #6D6054;
    background: #d1d1d100;
  }
  
  .footsubtmail pre{
    position: absolute;
    margin-top: 170px;
    margin-left: 833px;
    font-size: 15px;
    font-weight: lighter;
    columns: #6D6054;
    background: #d1d1d100;
  }
  
  .iglogofooter img{
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 205px;
    margin-left: 862px;
  }
  
  .fblogofooter img{
    display: flex;
    position: absolute;
    width: 25px;
    height: 30px;
    margin-top: 205px;
    margin-left: 900px;
  }
  
  .twitterlogofooter img{
    display: flex;
    position: absolute;
    width: 25px;
    height: 30px;
    margin-top: 205px;
    margin-left: 935px;
  }
  
  .footsubt3 pre{
    position: absolute;
    margin-top: 100px;
    margin-left: 1027px;
    font-size: 20;
    font-weight: bolder;
    color: #A78A6F;
    background: #d1d1d100;
  }
  
  .footsubtprice pre{
    position: absolute;
      margin-top: 135px;
      margin-left: 1038px;
      font-size: 15px;
      font-weight: lighter;
      columns: #6D6054;
      background: #d1d1d100;
  }
  
  .footsubtloc pre{
    position: absolute;
    margin-top: 170px;
      margin-left: 1038px;
      font-size: 15px;
      font-weight: lighter;
      columns: #6D6054;
      background: #d1d1d100;
  } 
  